@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A; 

}

.grid-container {
    margin: 30px 10%
}

.content {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    text-justify: center;
    color: rgb(255, 255, 255)
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}